/* General Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000; /* Ensure modal is on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255); /* Subtle dark background */
  transition: background 0.3s ease; /* Smooth transition for the background */
}

/* Modal Content */
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Modal Content while Loading */
.modalContent.loading {
  filter: blur(2px); /* Slightly subtle blur effect when loading */
  pointer-events: none; /* Disable interactions when loading */
  opacity: 0.8; /* Slightly dim the modal content */
}

/* Modal Header */
.modalHeader {
  background-color: #9d00ff;
  color: white;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Header Text */
.headerText {
  font-size: 24px;
  margin: 0;
}

/* Modal Body */
.modalBody {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Form Group */
.formGroup {
  margin-bottom: 15px;
}

/* Input Fields */
.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Submit Button */
.submitBtn {
  width: 100%;
  padding: 10px;
  background-color: #9d00ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Submit Button when Disabled */
.submitBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5; /* Dimmed button when disabled */
}

/* Cancel Button */
.cancelBtn {
  padding: 10px 20px;
  background-color: #bbb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Cancel Button when Disabled */
.cancelBtn:disabled {
  cursor: not-allowed;
  opacity: 0.5; /* Dimmed button when disabled */
}

/* Modal Footer */
.modalFooter {
  margin-top: 20px;
}

/* Loader */
.loader {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.1); /* Subtle loader border */
  border-top: 0.2rem solid #3498db;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loader Container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 270px; /* Sufficient space for the loader */
}
